*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img{
    height: 500px;
    float: right;
}

.about{
 height: 100vh;
 width: 100vw;
 padding: 50px;
 background-color: beige;
 font-size: larger;
 line-height: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.about-me{
    float: left;
}
.name{
    
    letter-spacing: 10px;
    line-height: 60px;
}
p{
    font-size: larger;

}
h3{
 letter-spacing: 10px;
 padding-bottom: 20px;   
}

li{
    font-size: larger;
   
}